html,
a {
  transition: all 0.5s ease-out allow-discrete;
}

body {
  background-color: #fcf8ee;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #333;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  line-height: 1.4rem;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.pcOnly {
  display: block;
}
.spOnly {
  display: none;
}

/*アニメーション*/
.fade {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 2.5s, transform 1s;
}

.fade.active {
  opacity: 1;
  transform: translateY(0px);
}

.fade02 {
  opacity: 0;
  transform: translateY(120px);
  transition: opacity 2.5s, transform 1s;
}

.fade02.active {
  opacity: 1;
  transform: translateY(0px);
}

.fade03 {
  opacity: 0;
  transform: translateY(180px);
  transition: opacity 2.5s, transform 1s;
}

.fade03.active {
  opacity: 1;
  transform: translateY(0px);
}

@keyframes poyopoyo {
  0%,
  40%,
  60%,
  80% {
    transform: scale(1);
  }
  50%,
  70% {
    transform: scale(0.95);
  }
}

@keyframes bg {
  0% {
    opacity: 0;
    transform: scaleY(0) translateY(-10%);
  }
  30% {
    transform: scaleY(1) translateY(0);
  }
  100% {
    transform: scaleY(1) translateY(0);
  }
  30%,
  100% {
    opacity: 1;
  }
}

.headInner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 36px 65px 56px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
}
.header_inner {
  position: relative;
  padding: 15px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
}
.title {
  font-size: 2rem;
  font-weight: 600;
}

/* header固定のため余白をつける。メニューのCSSには関係ない */
.main {
  margin-top: 60px;
}

@media only screen and (max-width: 768px) {
  .nav {
    position: fixed;
    right: -320px; /* 右から出てくる */
    top: 0;
    width: 300px; /* スマホに収まるサイズ */
    height: 100vh;
    padding-top: 60px;
    background-color: #fff;
    transition: all 0.6s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  }
  .hamburger {
    position: fixed;
    right: 15px;
    top: 8px;
    width: 40px; /* クリックしやすい幅 */
    height: 40px; /* クリックしやすい高さ */
    cursor: pointer;
    z-index: 300;
  }
  .nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav_item {
    text-align: center;
    padding: 0 14px;
  }
  .nav_item a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #333;
  }
  .nav_item a:hover {
    background-color: #eee;
  }
  .hamburger_border {
    position: absolute;
    left: 11px;
    width: 30px;
    height: 2px;
    background-color: #333;
    transition: all 0.6s;
  }
  .hamburger_border_top {
    top: 10px;
  }
  .hamburger_border_center {
    top: 20px;
  }
  .hamburger_border_bottom {
    top: 30px;
  }
  .black_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #333;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    cursor: pointer;
  }

  /* 表示された時用のCSS */
  .nav-open .nav {
    right: 0;
  }
  .nav-open .black_bg {
    opacity: 0.8;
    visibility: visible;
  }
  .nav-open .hamburger_border_top {
    transform: rotate(45deg);
    top: 20px;
  }
  .nav-open .hamburger_border_center {
    width: 0;
    left: 50%;
  }
  .nav-open .hamburger_border_bottom {
    transform: rotate(-45deg);
    top: 20px;
  }
} /* sp */

@media only screen and (min-width: 769px) {
  .header_inner {
    max-width: 980px;
    width: 100%;
    padding: 15px 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    padding: 12px 30px;
  }
  .nav_list {
    text-align: right;
  }
  .nav_list li {
    display: inline-block;
    text-align: right;
  }
  .nav_list li a {
    color: #333;
    font-weight: 600;
  }
} /* pc */

.menu {
  display: flex;
  font-weight: bold;
  font-size: 14px;
}

.menuList {
  margin-left: 20px;
}

.inner {
  max-width: 780px;
  margin: 0 auto;
  padding: 0;
  display: grid;
}

.leadArea .inner {
  padding: 100px 0;
}

.memberArea.wrapper{
  padding: 80px 0;
}

.wrapper {
  padding: 80px 0;
  position: relative;
}

.mvArea {
  display: flex;
  position: relative;
  padding: 0;
  justify-content: flex-end;
  height: 520px;
}

.mvArea .mvTxt {
  width: 48%;
}

.mvArea .mvTxtArea {
  left: -16vw;
  position: relative;
}

.bg .bg-wrap {
  position: relative;
  display: inline-block;
  margin-top: 5px;
}
.bg.is-animated .bg-wrap::before {
  animation: bg 4.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  background-color: #f66a77;
  border: solid 1px #000;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 79px;
  height: 100%;
  transform-origin: top;
}
.bg .bg-wrap .inn {
  color: #fff;
  display: inline-block;
  font-size: 44px;
  font-weight: bold;
  padding: 28px 8px;
  position: relative;
  z-index: 1;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.bg .bg-wrap:last-child {
  left: -80px;
  top: -373.5px;
}

.mvArea::after {
  content: url("./img/mv_img01.svg");
  width: 50%;
  top: 20px;
  left: 40vw;
  height: 100%;
  display: inline-block;
  position: absolute;
}

.mvImg {
  position: relative;
  right: 0;
  width: 55%;
  overflow: hidden;
  z-index: -1;
}

.mvImg img {
  width: 100%;
  border: 1px solid;
  border-radius: 120px 0 0 0;
}

.mvList {
  margin: 0 10px;
}

.leadArea {
  overflow: hidden;
}

.leadArea::before {
  content: "";
  background: url(./img/lead_topImg.svg) no-repeat;
  background-position: right;
  background-size: contain;
  width: 920px;
  top: 0;
  right: 20px;
  height: 44px;
  position: absolute;
  display: inline-block;
}

.leadArea.wrapper {
  padding: 0;
}

.leadArea::after {
  content: "";
  background: url(./img/lead_bottomImg.svg) no-repeat;
  background-position: left bottom;
  background-size: contain;
  width: 920px;
  bottom: 0;
  left: 20px;
  height: 44px;
  position: absolute;
  display: inline-block;
}

.leadArea p {
  text-align: center;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}

.ttl {
  text-align: center;
  margin-bottom: 50px;
}

.ttl span {
  font-size: 14px;
}

.memberWrap {
  display: flex;
  max-width: 95%;
  margin: 0 auto;
}

.slide-wrapper {
  display: flex;
}

.slide-img img {
  position: relative;
  width: 90%;
  margin: 0 20px;
}

.slide-img img:hover {
  opacity: 0.6;
  transition: 0.5s;
}

/* モーダルを開くボタン */
.modal__trigger {
  cursor: pointer;
}

/* モーダル本体 */
.modal__wrapper,
.modal__wrapper02 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal__layer,
.modal__layer02 {
  height: 100%;
  background: rgba(50, 50, 50, 0.85);
  cursor: pointer;
}

.modal__container,
.modal__container02 {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(calc(100% - 130px), 1000px);
  height: calc(100% - 100px);
  padding: 20px;
  background: #fcf8ee;
}

.modal__inner,
.modal__inner02 {
  position: relative;
  overflow-y: scroll;
  height: 100%;
}

/* モーダルを閉じるボタン */
.modal__close,
.modal__close02 {
  background-color: #fcf8ee;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: opacity 0.6s;
  z-index: 1000;
}

.modal__close:hover,
.modal__close02:hover {
  opacity: 0.6;
}

.modal__close:before,
.modal__close:after,
.modal__close02:before,
.modal__close02:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 1px;
  background: #000;
  content: "";
}

.modal__close:before,
.modal__close02:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close:after,
.modal__close02:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* モーダル内のコンテンツ */
.modal__content {
  text-align: center;
}
.modalInner {
  margin: 100px auto;
  max-width: 600px;
}
.mmbIcon {
  width: 200px;
  position: relative;
  margin: 0 auto;
}

.mmbIcon::before {
  content: "";
  width: 133px;
  height: 100px;
  top: 0;
  left: -140px;
  position: absolute;
}
.ohashi .mmbIcon::before {
  background: url(./img/mmb_msg_ohashi.png) no-repeat;
  background-size: contain;
}
.sugi .mmbIcon::before {
  background: url(./img/mmb_msg_sugi.png) no-repeat;
  background-size: contain;
}
.mori .mmbIcon::before {
  background: url(./img/mmb_msg_mori.png) no-repeat;
  background-size: contain;
}
.kure .mmbIcon::before {
  background: url(./img/mmb_msg_kure.png) no-repeat;
  background-size: contain;
}
.tate .mmbIcon::before {
  background: url(./img/mmb_msg_tate.png) no-repeat;
  background-size: contain;
}
.kawa .mmbIcon::before {
  background: url(./img/mmb_msg_kawa.png) no-repeat;
  background-size: contain;
}
.yaji .mmbIcon::before {
  background: url(./img/mmb_msg_yaji.png) no-repeat;
  background-size: contain;
}

.mmbName {
  font-size: 24px;
  font-weight: bold;
}
.mmbTxt {
  text-align: left;
  margin: 30px auto 60px;
}
.mmbRec {
  width: 200px;
}
.mmbRecPho {
  width: 470px;
}
.mmbRecCap {
  font-size: 14px;
}
.modal__text {
  margin-top: 30px;
  line-height: 2.875;
}

.memberArea .swiper-slide {
  width: 14%;
}

.flowArea {
  background-color: #e1df41;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.flowBtn {
  display: flex;
  position: relative;
}

.flowBtn img {
  width: 100%;
  position: relative;
}
.flowBtn .life img {
  filter: drop-shadow(7px 7px 0px #8ab34f);
}
.flowBtn .work img {
  filter: drop-shadow(7px 7px 0px #799779);
}
.flowBtn .recruit img {
  filter: drop-shadow(7px 7px 0px #ba8856);
}
.flowBtnImg img {
  cursor: pointer;
}

.flowBtnImg img:hover {
  filter: none;
  top: 7px;
  left: 7px;
}

.work.flowBtnImg {
  margin: 0 40px;
}

.flowWrap {
  width: 600px;
  margin: 95px auto;
  text-align: center;
}

.flowArea .flowTtl {
  width: 240px;
}

.flowTxt {
  width: 460px;
  margin: 50px auto 100px;
}
.flowArea .flowDay {
  position: relative;
}
.flowArea .flowDay01 {
  width: 650px;
}
.flowArea .flowDay02 {
  width: 640px;
}
.flowArea .flowDay03 {
  width: 600px;
}

.kindArea::before {
  content: "";
  display: inline-block;
  width: 260px;
  height: 160px;
  background: url("./img/kind_side_Img01.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: -20px;
  left: 50px;
  animation: poyopoyo 2s ease-out infinite;
  opacity: 1;
}

.kindImg {
  width: 70%;
  margin: 0 auto;
}

.canArea {
  background-color: #27c2e3;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.canArea::before {
  content: "";
  display: inline-block;
  width: 97px;
  height: 90px;
  background: url("./img/can_side_Img02.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: -70px;
  right: 12vw;
  animation: poyopoyo 2s ease-out infinite;
  opacity: 1;
}

.canBtnWrapper {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.canBtn img {
  width: 160px;
}

.canBtn img:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.canBtn.is-active img:hover {
  opacity: 1;
}
.canBtn {
  margin: 0 10px;
}

.tab {
  width: 100%;
}

.tab__buttons {
  display: flex;
  justify-content: center;
}

.tab__button {
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
}

.tab__button.is-active::before {
  content: "";
  background: url(./img/isActive.svg) no-repeat;
  position: absolute;
  width: 60px;
  height: 50px;
  top: -32px;
  left: 57px;
}

.tab__contents {
  margin-top: 20px;
}

.tab__item {
  display: none;
}

.tab__item.is-active {
  display: block;
  background: #fff;
  padding: 30px 60px;
  border-radius: 4px;
  border: 1px solid;
  overflow: hidden;
}

.tab__item img {
  aspect-ratio: 100 / 100;
  width: 100%;
}

.messageArea::before {
  content: "";
  display: inline-block;
  width: 136px;
  height: 190px;
  background: url("./img/msg_side_Img03.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: -70px;
  left: 150px;
  animation: poyopoyo 2s ease-out infinite;
  opacity: 1;
}

.messageArea::after {
  content: "";
  display: inline-block;
  width: 205px;
  height: 360px;
  background: url("./img/msg_side_Img04.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: -70px;
  right: 12vw;
  animation: poyopoyo 2s ease-out infinite;
  opacity: 1;
}

.messageArea .ttl {
  margin-bottom: 0;
}

.messageTxt {
  border: 1px solid;
  border-radius: 4px;
  padding: 30px 50px;
}

.messageImg {
  width: 50%;
  margin: 0 auto;
  top: 5px;
  position: relative;
  z-index: -1;
}

.messageArea.wrapper {
  padding-bottom: 0;
}

.footerArea {
  background-color: #f66a77;
  height: 150px;
}

.footerArea img {
  width: 20%;
  top: 60px;
  margin: 30px auto;
  position: relative;
  display: block;
}

/* ==============  スマホ版スタイル  ============== */

@media screen and (max-width: 768px) {
  body .pcOnly {
    display: none;
  }
  body .spOnly {
    display: block;
  }
  body,
  p {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  .inner {
    max-width: 95%;
  }
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .headInner {
    margin: 20px 20px 40px;
    padding: 0;
  }
  .headInner h1 {
    width: 50vw;
  }
  .mvImg {
    width: 80vw;
  }
  .mvArea {
    height: 360px;
  }
  .mvArea::after {
    content: "";
    width: 20%;
    top: -40px;
    left: 55vw;
    height: 50%;
    display: inline-block;
    position: absolute;
  }
  .mvArea .mvTxt {
    width: 10vw;
    top: 0;
    left: 10vw;
    position: relative;
  }

  .mvArea .mvTxtArea {
    left: -1.5vw;
    position: relative;
    height: 360px;
  }
  .bg.is-animated .bg-wrap::before {
    width: 46px;
    height: 100%;
  }
  .bg .bg-wrap .inn {
    font-size: 1.5rem;
    padding: 16px 6px;
  }

  .bg .bg-wrap:last-child {
    left: -47px;
    top: -209px;
  }

  .leadArea {
    font-size: 0.8rem;
    margin-top: 30px;
  }

  .leadArea::before {
    background-size: 60%;
  }
  .leadArea::after {
    background-size: 60%;
  }
  .memberArea .swiper-slide {
    width: 37vw;
  }
  .memberWrap {
    overflow-x: scroll;
  }
  .memberWrap::-webkit-scrollbar {
    width: 8px;
    background-color: #e9e2d1;
    border-radius: 2px;
  }
  .memberWrap::-webkit-scrollbar-thumb {
    background: #d1ca8a;
    width: 4px;
    border-radius: 5px;
  }

  .slide-img img {
    position: relative;
    width: 90%;
    margin: 0 20px 10px;
  }

  .mmbIcon::before {
    content: "";
    width: 113px;
    height: 100px;
    top: -50px;
    left: -20px;
    position: absolute;
  }
  .mmbRecPho {
    width: 100%;
  }

  .flowBtn {
    flex-direction: column;
  }
  .flowBtn img {
    width: 60%;
    max-width: 300px;
    margin: 0 auto 40px;
    position: relative;
    display: block;
  }
  .flowWrap {
    width: 100%;
  }
  .flowTxt {
    width: 100%;
  }
  .flowArea .flowDay01,
  .flowArea .flowDay02,
  .flowArea .flowDay03 {
    width: 90%;
  }
  .modal__container,
  .modal__container02 {
    transform: translate(-50%, -50%);
    width: 80vw;
    height: calc(100% - 100px);
  }
  .work.flowBtnImg {
    margin: 0;
  }
  .kindArea::before {
    top: -100px;
    left: -30px;
  }

  .kindImg {
    width: 90%;
    margin: 0 auto;
  }

  .canArea::before {
    right: 2vw;
  }

  .canBtn {
    margin: 0;
  }
  .canBtn img {
    width: 100%;
  }
  .tab__button.is-active::before {
    background-size: contain;
    width: 25%;
    height: 100px;
    top: -5vw;
    left: 11.8vw;
  }
  .tab__item.is-active {
    padding: 30px 40px;
  }
  .tab__contents {
    width: 100%;
    margin: 10px auto;
  }
  .messageArea::before {
    display: none;
  }
  .messageArea::after {
    display: none;
  }
  .messageImg {
    width: 80%;
  }
  .messageTxt {
    padding: 30px;
  }
  .footerArea img {
    width: 50vw;
  }
}
